/*
------------------------------------------------
STYLING CODE FOR POLITICAL SYSTEM
------------------------------------------------
*/

body {
  font-family: "Nunito", nunito, sans-serif;
  color:#666;
}

* {
  margin: 0%;
  padding: 0%;
  outline: 0;
}

#responseMessage{
  display: none;
  margin:1% auto;
  background-color:#E81B47;
  width:25.3%;
  padding:1%;
  border-radius:5px;
}

/*
------------------------------------------------
 floats
------------------------------------------------
*/
.right{
  float: right;
}

.left{
  float:left;
}

button {
  border: none;
  font-family: "Nunito", nunito, sans-serif;
  padding: 1% 4%;
  background-color: #E81B47;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: background .5s, box-shadow .5s;
}

button:hover {
  background-color: #9B0606;
}


/*
------------------------------------------------
 form design
------------------------------------------------
*/
.form-holder{
  background-color:#19A15E;
  height:100vh;
  text-align:center;
}

.ui-form {
  padding:5%;
}

.ui-form h1, p{
  padding: .5%;
  color:#fff;
}

.ui-form h2{
  color:#fff;
}

.ui-form input[type='email'], .ui-form [type='password'], .ui-form [type='text'] {
  padding: 1.2%;
  width: 25%;
  border: none;
  font-family: "Nunito", nunito, sans-serif;
  border-radius: 5px;
  color: #444;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.mini-input{
  width:11.2%!important;
  text-transform: capitalize;
}

.ui-form input[type='submit'] {
  width:27.5%;
  border: none;
  font-family: "Nunito", nunito, sans-serif;
  padding: 1% 2%;
  background-color: #16985A;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 4px #0d512f;
  -webkit-transition: background .5s, box-shadow .5s;
}

.ui-form input[type='submit']:hover {
  background-color: #127142;
}

.ui-form input[type='submit']:active {
  background-color: #0d512f;
  box-shadow: 0 3px #0d512f;
  transform: translateY(2px);
}



/*
------------------------------------------------
admin pages design
------------------------------------------------
*/

.main-holder{
  padding:5%;
  text-align: center;
}

.main-holder h1{
  text-align: left;
  padding-bottom:1%;
  border-bottom:1px solid #19A15E;
  color:#19A15E;
}

.main-holder h2{
  padding:1%;
}

/*
------------------------------------------------
voting pages design
------------------------------------------------
*/

#gov-office li{
  background-color:#19A15E;
  list-style: none;
  display: inline-block;
  width:auto;
  padding:5%;
  margin:1%;
  font-size:1.5em;
  border-radius:5px;
  border-bottom:8px solid transparent;
  border-top:8px solid transparent;
  color:#fff;
  cursor: pointer;
  -webkit-transition:border .5s, transform .2s;
}

#gov-office li:hover{
  border-bottom:8px solid #E81B47;
  border-top:8px solid #E81B47;
  transform: scale(1.05);
}

#candidates{
  width:60%;
  margin: auto;
}

#candidates table{
  width:100%;
  border:1px solid red;
  text-align: center;
}

#candidates th{
  border:1px solid red;
  font-weight: bolder;
}

.item{
  background-color:#efefef;
  text-align:center;
  border-radius:5px;
  margin:1%;
  padding:1%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition:background .5s, transform .2s;
}

.item:hover{
  background-color:#19A15E;
  color:#fff;
  transform: scale(1.05);
}

.item li{
  display:inline-block;
  width:22%;
  border-right:1px solid #dfdfdf;
}

.head-item{
  background-color:transparent;
  box-shadow:none;
}

.head-item:hover{
  background-color:transparent;
  color:#666;
  transform:none;
}
